html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
/* ex1: implement button */
.page__wrapper {
    padding: 2rem;
    display: flex;
    gap: 20px;
}
.btn {
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 2rem 5rem;
    border-radius: 6px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.btn--green {
    background-image: linear-gradient(to left, #4fccc8, #69ebac);
    box-shadow: 0 0 10px 0 rgba(105, 235, 172, 0.712);
}

.btn--blue {
    background-image: linear-gradient(to left, #75b7ee, #afe6ff);
    box-shadow: 0 0 15px 0 #afe6ff;
}

.btn--violet {
    background-image: linear-gradient(to left, #ae8ef2, #b1c1ff);
    box-shadow: 0 0 15px 0 #b1c1ff;
}

.btn--yellow {
    background-image: linear-gradient(to left, #f8a465, #fbd79a);
    box-shadow: 0 0 15px 0 #fbd79a;
}

.btn--red {
    background-image: linear-gradient(to left, #ee7a76, #fac4af);
    box-shadow: 0 0 15px 0 #fac4af;
}

.btn--pink {
    background-image: linear-gradient(to left, #f5889f, #f9adb9);
    box-shadow: 0 0 15px 0 #f9adb9;
}
/* ex2: implement gradient text */
.text-gradient {
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(to left, #f54c94, #fbd76b);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    margin: 2rem;
}
/* ex3: implement color pallette */
.color-pallette {
    padding: 1rem;
}
.color__item {
    width: 10rem;
    height: 12rem;
    border-radius: 5px;
    margin: 1rem;
    display: inline-block;
}
.color__item:first-child {
    background-color: #a24bf0;
    transition: background-color 0.3s ease;
}
.color__item:first-child:hover {
    background-color: #f8a465;
}
.color__item:nth-child(2) {
    background-color: #38dbb2;
}
.color__item:nth-child(3) {
    background-color: #25c2e3;
}
.color__item:nth-child(4) {
    background-color: #ea344f;
}
.color__item:last-child {
    background-color: #dd44a7;
}
/* ex5: practice advanced selectors */
div[data-link^="https"] {
    color: #4fccc8;
}
div[data-link$=".vn"] {
    color: plum;
}
div[data-name*="hello"] {
    color: #ae8ef2;
}
input[type="email"] {
    background-color: #f54c94;
}
input[name="fullname"] {
    background-color: #69ebac;
}
